body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}
label {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
select {
  padding: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

select {
  appearance: none;
}
input[type="submit"] {
  cursor: pointer;
  background-color: rgb(10, 26, 211);
  color: white;
}
